.doctor-detail-container {
    height: 500px;

    .intro-doctor {
        display: flex;
        margin : 0 100px;

        .content-left {
            background-size    : cover;
            background-repeat  : no-repeat;
            background-position: center;
            width              : 20%;
            margin             : 10px 20px;
            width              : 120px;
            border-radius      : 50%;
            height             : 120px;
        }

        .content-right {
            width         : 80%;
            display       : flex;
            flex-direction: column;
            padding-left  : 10px;

            .up {
                font-size  : 20px;
                font-weight: 600;
                padding-top: 15px;
            }

            .down {
                padding-top: 10px
            }
        }

        ;
    }

    .schedule-doctor {
        margin     : 0 100px;
        display    : flex;
        padding-top: 10px 0;
        min-height : 150px;

        .content-left {
            width: 50%;
        }

        .content-right {
            width: 50%;
        }
    }

    .detail-infor-doctor {
        padding         : 10px 100px;
        background-color: #ddd;
        border-top      : 1px solid red;
        border-bottom   : 1px solid red;

        h3 {
            font-size: 17px;
        }

        img {
            width: 100%;
        }
    }

    .comment-doctor {
        height: 50px;
    }
}