.doctor-schedule-container {
    border-right: 1px solid #ddd;
    height      : 100%;

    .all-schedule {
        select {
            border-bottom: 1px solid #ddd;
            border-top   : none;
            border-left  : none;
            border-right : none;
            cursor       : pointer;
            color        : #337ab7;
            font-weight  : 600;
            padding      : 10px 0;
            outline      : none;

            option {
                cursor: pointer;
            }
        }
    }

    .all-available-time {
        .text-calendar {
            color : #333;
            margin: 10px 0;

            span {
                text-transform: uppercase;
                margin-left   : 5px;
            }
        }

        .time-content {
            .time-content-btns {
                display       : flex;
                gap           : 15px;
                flex-wrap     : wrap;
                padding-bottom: 10px;

                button {
                    padding         : 8px 10px;
                    border          : none;
                    outline         : none;
                    background-color: gray;
                    min-width       : 120px;
                    border-radius   : 3px;
                    background-color: #ffF04b;
                    font-weight     : 600;
                    color           : #333;

                    &:hover {
                        background-color: #45c3d2;
                        color           : white;
                    }
                }

                .btn-vie {
                    min-width: 120px;
                }

                .btn-en {
                    min-width: 150px;
                }

                .no-schedule {
                    font-style: italic;
                }
            }

            .book-free {
                margin-left: 10px;
            }
        }
    }
}